<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @observation.name %>
</p>

<%= link_to 'Editar', edit_observation_path(@observation) %> |
<%= link_to 'Atrás', observations_path %>
