<h1>NOTIFICACIÓN DE APROBACION DE RESERVACIÓN</h1>

<p>
  Estimado(a) Docente: <%= @teachers.name %> <%= @teachers.last_name %>,
  </br> Es de mucho agrado comunicarle que ha sido aprobada su reservación
  </br>para desarrollar el evento: <%= @reservations.description%>
  </br>
  </br>Muchas Gracias, Le Esperamos
</p>