<h1>NOTIFICACIÓN DE CANCELACIÓN DE RESERVACIÓN</h1>

<p>
  Estimado(a) Docente: <%= @teachers.name %> <%= @teachers.last_name %>,
  </br> Le comunicamos que usted ha cancelado su reservación
  </br>para desarrollar el evento: <%= @reservations.description%>
  </br>
  </br>Muchas Gracias.
</p>